body { 
    border: 3px solid #f1f1f1;
    font-family: 'Londrina Outline';
    
}

form {border: 3px solid #f1f1f1;}

.overskrift {
    position: relative;
    text-align: center;
    color: blue;
    width: 100%;
    font-family: 'Londrina Sketch';
    font-size: 80px;    
}

.innholdstekst {
    font-family: 'Londrina Outline';
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;

}

.container {
    padding: 16px;
}
input[type=text], input[type=password] {
    width: 100%;
    text-align: center;
    font-family: 'Londrina Outline';
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

button {
    background-color: lightblue;
    font-family: 'Londrina Shadow';
    font-size: 30px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }

  button:hover {
    opacity: 0.8;
  }


  .containerCreate {
    font-family: 'Londrina Outline';
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
  }

  .containerLogin {
    font-family: 'Londrina Outline';
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
  }